html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #404040;
}

#container-color{
display: flex;
  background-color: grey;
  width: 90%;
  height: 12%;
  margin: 25px;
}


#b1{
display: flex;
   background-color:white;
  margin: 10px;
  height: 80%;
}
#b2{
display: flex;
   background-color: black;
  margin: 10px;
  height: 80%;
}
#b3{
display: flex;
   background-color: red;
  margin: 10px;
  height: 80%;
}
#b4{
display: flex;
   background-color: blue;
  margin: 10px;
  height: 80%;
}
#b5{
display: flex;
   background-color: green;
  margin: 10px;
  height: 80%;
}
#b6{
display: flex;
   background-color: yellow;
  margin: 10px;
  height: 80%;
}


#container2{
display: flex;
  background-color: grey;
  width: 90%;
  height: 35%;
  margin: 25px;
}


.box{

width: 95%;
  height: 80%;
  margin: 10px;
  border-style: dotted;
  border-color: lightgray;
}